<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><meta charset="utf-8">

<title>Help</title>
</head>
<body style="margin: 0px;" vlink="#000000" link="#000000" alink="#000000">
<div class="article-wrapper" style="width: 700px; direction: rtl;text-align: right; margin-left: auto;margin-right: auto; padding: 30px 10px;">
	<article>

	<h1 style="text-decoration: none;"><a style="text-decoration: none;" href="https://p30download.ir/fa/entry/85859/">دانلود
 Microsoft Visual Studio Community/Enterprise/Professional 2019 v16.9.5 
for Web And Desktop Only - نرم افزار مایکروسافت ویژوال استودیو 2019 نسخه
 دسکتاپ و وب</a></h1>
	<h3 style="background: #ddd none repeat scroll 0 0; padding: 5px;">توضیحات:</h3>
	<p>
	
		 Microsoft Visual Studio نرم‌افزاری توسعه یافته برای برنامه نویسان 
کامپیوتر است که توسط شرکت نرم‌افزاری Microsoft تولید شده است. این 
برنامه، ابزار های متنوعی را در اختیار تیم های بزرگ یا کوچک برای ساختن 
برنامه برای انواع پلتفرم ها می گذارد. در هر نسخه ی جدید، سعی بر این است 
که پشته ی این ابزار ها بزرگ تر شود و برای اکثر تیم های برنامه نویسی که 
در ویندوز کار می کنند، انتخاب اول است. همچنین پشتیبانی از افزونه های 
جانبی برای بزرگ تر کردن این پشته یا اضافه کردن قابلیت های خاص دیگر به 
خود نرم افزار، باعث ... <a href="https://p30download.ir/fa/entry/85859/">[توضیحات بیشتر]</a> 
	
	</p>


	<h3 style="background: #ddd none repeat scroll 0 0; padding: 5px;">سیستم مورد نیاز:</h3>
		<div style="direction: ltr; text-align: left;">
			<p><strong>Hardware requirements</strong><span style="font-size: 10pt;"><br>- 1.8 GHz or faster processor. Dual-core or better recommended<br>- 2 GB of RAM; 4 GB of RAM recommended (2.5 GB minimum if running on a virtual machine)<br></span><span style="font-size: 10pt;">- Hard disk space: 10GB to 240GB, depending on features installed<br></span><span style="font-size: 10pt;">-
   Video card that supports a minimum display resolution of 720p (1280 
by   720); Visual Studio will work best at a resolution of WXGA (1366 by
  768)  or higher</span></p>
<p><strong>System requirements<br></strong><span style="font-size: 10pt;">- Windows 10 version 1803 or higher (LTSB is not supported)<br>- Windows Server 2016<br></span><span style="font-size: 10pt;">- Windows 8.1 (with Update 2919355)<br></span><span style="font-size: 10pt;">- Windows Server 2012 R2 (with Update 2919355)<br></span><span style="font-size: 10pt;">- Windows 7 SP1 (with latest Windows Updates)</span></p>
		</div>



	<h3 style="background: #ddd none repeat scroll 0 0;padding: 5px;">راهنمای نصب:</h3><p dir="rtl"><strong>توجه:</strong><br>نسخه
 ی 2019 ویژوال استودیو، مانند نسخه 2017 و بر خلاف نسخه  های قبل، دیگر یک
 ISO برای نصب آفلاین ارائه نمی کند و پروسه ی نصب توسط یک  نصاب آنلاین که
 بسته های مختلف را به صورت ماجول نصب می کند، انجام می  شود. حجم کلیه 
بسته ها بالغ بر 20 گیگابایت است که نصب همه ی آنها حدود 90  گیگابایت قضای
 خالی لازم دارد. با توجه به این که اکثر برنامه نویسان  ایرانی از این 
ابزار برای برنامه نویسی برنامه های دسکتاپ تحت زبان #C و  ++C و برنامه 
نویسی برنامه های تحت وب با زبان #C استفاده می کنند و بسیاری  از ماجول ها
 برای این استفاده ها غیر ضروری هستند، دانلود کردن بسته ی  کامل کار به 
صرفه ای نیست. این بسته ی اختصاصی پی سی دانلود مخصوص این دسته  از برنامه 
نویسان است و فقط شامل ماجول های زیر است :</p>
<p dir="ltr">1- .NET Desktop Development<br>2- Desktop Development with C++<br>3- ASP.NET and Web Development</p>
<p dir="rtl">در صورتی که امکانات دیگری در کنار این ماجول ها نیاز دارید، <a href="https://p30download.ir/fa/entry/70648/index.php">بسته ی کامل پی سی دانلود</a>
 را دریافت کنید و یا با نصاب برنامه مستقیماٌ آن ها را از مایکروسافت  
دریافت کنید. به دلیل بالا بودن تعداد ماجول ها و نیازهای مختلف کاربران  
امکان قرار دادن تمامی آن ها مقدور نیست.</p>
<p dir="rtl">در صورتی که تمایل ندارید نصاب گرافیکی بسته های به روز رسانی
  شده را از اینترنت نصب کند در محیط command promt دستور زیر را اجرا کنید
  تا فقط بسته های دریافتی نصب شوند :</p>
<p dir="ltr">vs_Enterprise.exe --add  
Microsoft.VisualStudio.Workload.ManagedDesktop --add  
Microsoft.VisualStudio.Workload.NetWeb --add  
Microsoft.VisualStudio.Workload.NativeDesktop --add  
Component.GitHub.VisualStudio --includeOptional</p>
<p dir="rtl"><a href="https://www.visualstudio.com/vs/compare/" target="_blank">تفاوت نسخه های مختلف ویژوال استودیو ۲۰۱۹</a><br><br>- برای انتخاب ویرایش خود، فایل Response.json را توسط Notepad یا برنامه های دیگر ویرایش متن باز کنید.<br>-
  برای انتخاب ویرایش های Community یا Professional، عبارت Enterprise در 
 فایل را با Community یا Professional عوض کنید و فایل را ذخیره کنید.<br>- فایل vs_setup.exe را اجرا کنید.<br>- بسته هایی که نیاز دارید را انتخاب کنید و به نصب ادامه دهید.<br>-
  در صورت استفاده از ویرایش های Professional یا Enterprise، &nbsp;پس از 
نصب  برنامه، منوی Help را باز و Register Product را انتخاب کنید. سپس روی
  گزینه ی Unlock with a product key کلیک کنید و &nbsp;با سریال های مناسب
 در  فایل Serial.txt آن ها را فعال کنید.</p>
<p dir="rtl"><br><strong>نکات:</strong><br>1- نسخه ای که توسط پی سی 
دانلود در  اختیار شما قرار گرفته شده، اختصاصی پی سی دانلود است و فقط 
شامل ماجول های  برنامه نویسی دسکتاپ و وب این ابزار است. به دلیل محبوبیت 
بالای این ابزار  میان برنامه نویسان دسکتاپ و وب تحت #C و ++C ایرانی، این
 بسته تهیه شده  تا این افراد بسته ی کامل که به مراتب حجیم تر است را 
دریافت نکند.<br>2-  برخی ازبسته های ضروری و اختیاری به دلیل تحریم 
سازندگان، امکان دانلود  آنها با آی پی های ایرانی مقدور نیست، پی سی 
دانلود با دانلود تمامی این  بسته ها&nbsp; این محدودیت را برای کاربران 
ایرانی مرتفع نموده است.<br>3- این نسخه فقط شامل زبان انگلیسی است و شامل زبان های دیگر که باعث افزایش حجم بسته می شوند، نیست.<br>4- قبل از نصب فایل های دانلود شده را در یک پوشه با نام کوتاه و نزدیک به ریشه اصلی درایو قرار دهید<br>مانند:<br>D:\VS2019WD<br>و سپس اقدام به نصب نمایید.</p>


<h3 style="background: #ddd none repeat scroll 0 0;padding: 5px; text-align: center;"><a href="https://p30download.com/">www.p30download.com</a></h3>

        </article>
</div>



</body></html>